[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
pillow = "*"
rich = "*"
imutils = "*"
pypiwin32 = "*"

[dev-packages]

[requires]
python_version = "3.10"
